
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  color:white;
  margin:0 auto;
}
.card-category{
  text-align: center;
  line-height: 200px;
  position: relative;
  background-color: rgb(237, 237, 237);
  height:200px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px #deddd9;
  filter:grayscale(100%);
}
.card-category img{
  height:200px;
  width:100%;
  object-fit: fill;
}

.card-category .link{
  width:100%;
  height:200px;
  display: block;
  position:absolute;
  top:0;
  left:0;
  text-decoration: none;
  color:white;
}

.card-category:hover{
	filter:grayscale(0%);
	transition:0.3s;
  color:rgb(26, 24, 23);
}

a{
  display: block;
  width:120px;
  height: 40px;
  text-align: center;
  color:rgb(26, 24, 23)
}

.delete i{
  position: absolute;
  top:-7px;
  right:-7px;
  z-index:1;
}
