.header {
  background-image: asset-url("kinyo_g64.gif");
  background-position: center;
  // background-size: cover;
  height: 350px;
  width: 100%;
  margin-bottom:36px;

};

h1{
  background-color: rgb(29, 28, 26);
  color:white;
  text-align: center;
  margin:0;
padding: 20px 0;
}
